# Need these for a more recent CMake on Linux
sudo: required
dist: trusty

os:
  - linux
  #- osx

language: cpp

compiler:
  - gcc
  - clang

before_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install libeigen3-dev ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install Eigen ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ln -s /usr/include/eigen3/Eigen 3rdparty/Eigen ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ln -s /usr/local/include/eigen3/Eigen 3rdparty/Eigen ; fi
  - mkdir build
  - cd build
  - cmake ..

script:
  - cmake --build .
  - ./tests/runUnitTests

#after_script:

notifications:
  email: false
