# Need these for a more recent CMake on Linux
sudo: required
dist: trusty

os:
  - linux

language: cpp

before_script:
  - sudo apt-get install libeigen3-dev
  - ln -s /usr/include/eigen3/Eigen 3rdparty/Eigen
  - mkdir build
  - cd build
  - cmake ..

script:
  - cmake --build .

after_script:
  - ./tests/runUnitTests

notifications:
  email: false
